* {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: aquamarine;
    background-image: url("../img/cover-laure-noverraz.jpg");
    background-size: cover;
    height: 400px;
    width: 100%;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%
}

.title {
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 0 30px;
}

.preview {
    width: 200px;
    height: auto;
    background-color: white;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px 30px;
}

.preview img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.preview a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
}